<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agregar nueva zona</title>
</head>
<body>
    <h1>Agregar nueva zona</h1>
    <form action="/agregarZona" method="post">
        <label for="nombre">Descripcion</label>
        <input type="text" name="descripcion" id="descripcion">
        <br>
        <input type="submit" value="Guardar">
    </form>

</body>
</html>